:root {
    /* default font added */
    --font-sans: "League Spartan Variable", ui-sans-serif;

    --background-main: white;
    --background-section1: rgba(231, 228, 228, .85);
    --background-section2: rgba(255, 255, 255, .85);
    --foreground: 222.2 47.4% 11.2%;

    --backround-nav: black;
    --background-footer: rgb(61, 61, 61);
    --font-nav: white;

    --accent1: #294358;
    --accent2: #f1efbc;
    --accent3: #97a9ae;

    --font1: rgba(40, 40, 40, 0.908);
    --font2: white;
    --font-nav-hover: #292e58;

    --borders: grey;

}

* {
    box-sizing: border-box;
    }

html {
    font-family: sans-serif;
  }
  
body {
    /* background-image: url(../images/hero.webp);
    background-repeat: no-repeat; */
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

header, main, footer {
}

header {
    background-color: var(--background-main);
    border-bottom: 2px solid var(--borders);
    padding-bottom: 1rem;
}

nav {
    background-color: var(--accent2);
    border-radius: 20px;
}

/* nav styles */
.hamburger {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0px 15px;
    cursor: pointer;
    background-color: var(--accent2);
    border-radius: 20px;
}
  
  .hamburger .line {
    display: block;
    align-items: center;
    width: 50px;
    height: 7px;
    margin-bottom: 15px;
    background-color: var(--accent1);
}

.nav-links {
    margin: 0;
    display:none;

}
  
.nav-links a {
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--font1);
    background-color: var(--accent2);
    margin: .75rem
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--font-nav-hover);
}

.nav-links a:active {
    color: var(--accent3);
}

.nav-links .expanded {
    background-color: var(--accent2);

}

.expanded {
    display: unset;
    background-color: var(--accent2);
} 

h1 {
margin: 1rem 0;
font-size: 2.5rem;
text-shadow: 2px 2px 5px var(--accent1);
}

section:hover{
    transform: scale(1.007);
    transition: 0.5s;
}

#heroSection {
position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  background-image: url('../images/scottEwingConstructionHero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 75vh;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1rem;
  transform: none;
}
.heroContent {
  background: rgba(0, 0, 0, 0.5); /* optional overlay */
  padding: 2rem;
  border-radius: 10px;
  max-width: 90%;
}

.grid-list {
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.listTitle {
    font-size: larger;
    text-decoration-line: underline;
}


.leftImage {
    border-bottom: 1px solid var(--accent1);
    border-right: 5px solid var(--accent1);
    background-color: var(--background-section2);
    padding: 20px;
    margin: 20px;
}

.rightImage {
    border-bottom: 1px solid var(--accent1);
    border-left: 5px solid var(--accent1);
    background-color: var(--background-section1);
    padding: 20px;
    margin: 20px;
}

.leftImage img {
    display: none;
    vertical-align: middle;
    margin-left: 20px; 
    box-shadow: 10px 10px 30px black;

    margin: 0 auto;
}

.rightImage img {
    display: none;
    vertical-align: middle;
    margin-right: 20px; 
    box-shadow: 10px 10px 30px black;
    margin: 0 auto;
}

.highlights {
    margin: 5px 3rem;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--accent1);
    color: var(--font2);
    font-size: small;
    font-weight: normal;
    padding: .1rem;
}

footer ul {
    padding: 5px 40px;
}

footer li {
    list-style-type: none;
}

@media screen and (min-width: 636px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .hamburger{
        display: none;
    }
    .nav-links {
        background-color: var(--accent2);
        display: flex;
        flex-direction: row;
        min-width: 320px;
        border-radius: 25px;

    }
  
    .nav-links a {
        display: inline-block;
        padding: 5px 20px;
    }
    
    .leftImage {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }

    .rightImage {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }

    .rightImage img {
        display: block;
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .leftImage img {
        display: block;
    }

    .rightImage div {
        grid-row-start: 1;
        grid-column-start: 1;
    }
  }

@media screen and (min-width: 1200px) {
  body {
    background-size: 100%;
  }
}