---
const officePhone = "208-123-4567";
const mobilePhone = "208-123-5555";
const email = "info@ScottEwingConstructionLLC.com";
---

<footer>
    <ul>
        <li class="listTitle">Contact Us:</li>
        <li>Office Phone: {officePhone}</li>
        <li>Mobile Phone: {mobilePhone}</li>
        <li>Email: {email}</li>
    </ul>
    <ul>
        <li>&#169; Scott Ewing Construction 2025</li>
        <li>Design by SpringMicroHost</li>
    </ul>
</footer>