---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import ScottEwingLogo from "../images/scottEwingLogo.webp";
---

<header id="heroSection">
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
